@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: Montserrat;
    background-color: black;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    width: 300px;
    padding: 10px 20px;
    font-size: 1.25em;
}

label{
    width: 300px;
    /* padding: 10px 20px; */
    font-size: 1.25em;
    font-weight: 600;
}

button{
    background-color: rgba(255, 255, 255, 0.75);
    font-size: 1.25em;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 600;
}

#msgArea{
    font-size: 1.25em;
    font-weight: 500;
    color: white;
}

#connect-text{
    font-size: 1.25em;
}

a{
    text-decoration: none;
}

#contact{
    /* position: absolute; */
    /* bottom: 5px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    margin: 30px 0px;
}

.connect-div{
    display: flex;
    gap: 1em;
}